In [4]:
%matplotlib inline

import os
import pandas as pd
import geopandas as gpd

In [2]:
BASEDIR = r"..\data"
ALLEVENTPATH = os.path.join(BASEDIR, "allevents", "results")
GUSTEVENTPATH = os.path.join(BASEDIR, "training", "gustratio")
fullStationFile = os.path.join(BASEDIR, "StationDetails.geojson")

In [5]:
allstndf = gpd.read_file(fullStationFile)
allstndf.set_index("stnNum", inplace=True)
allstndf['stnWMOIndex'] = allstndf['stnWMOIndex'].astype('Int64')

In [6]:
outputFile = os.path.join(ALLEVENTPATH, "stormclass.pkl")
classifieddf = pd.read_pickle(outputFile)

In [14]:
classifieddf.set_index(['stnNum', 'date'])

                        stormType
stnNum date
300000 2002-09-08  Synoptic storm
       2002-09-09  Synoptic storm
       2002-09-10  Synoptic storm
       2002-09-20  Synoptic storm
       2002-09-21  Synoptic storm
...                           ...
109521 2023-07-20     Storm-burst
       2023-08-01        Front up
       2023-08-08     Storm-burst
       2023-09-02        Front up
       2023-09-03  Synoptic storm

[207607 rows x 1 columns]

In [8]:
def loadGustRatioData(stnNum):
    fname = os.path.join(GUSTEVENTPATH, f"{stnNum:06d}.pkl")
    df = pd.read_pickle(fname)
    df['date'] = pd.to_datetime(df['date'])
    df['stnNum'] = stnNum
    df.reset_index(inplace=True)
    df.set_index(['stnNum', 'date'], inplace=True)
    return df

In [10]:
grdflist = []
for stn in allstndf.index:
    try:
        df = loadGustRatioData(stn)
    except FileNotFoundError:
        pass
    else:
        grdflist.append(df)

allgrdf = pd.concat(grdflist)
allgrdf['idx'] = allgrdf.index

In [13]:
allgrdf

                                    datetime  id  YYYY  MM  DD  HH  MI  \
stnNum date
300000 2002-08-28  2002-08-28 19:51:00+00:00  hd  2002   8  28  19  51
       2002-08-29  2002-08-29 20:15:00+00:00  hd  2002   8  29  20  15
       2002-08-30  2002-08-30 05:28:00+00:00  hd  2002   8  30   5  28
       2002-08-31  2002-08-31 09:05:00+00:00  hd  2002   8  31   9   5
       2002-09-01  2002-09-01 05:05:00+00:00  hd  2002   9   1   5   5
...                                      ...  ..   ...  ..  ..  ..  ..
140010 2023-09-06  2023-09-06 05:41:00+00:00  hd  2023   9   6  15  41
       2023-09-07  2023-09-07 04:55:00+00:00  hd  2023   9   7  14  55
       2023-09-08  2023-09-08 23:57:00+00:00  hd  2023   9   9   9  57
       2023-09-09  2023-09-09 00:01:00+00:00  hd  2023   9   9  10   1
       2023-09-10  2023-09-10 04:07:00+00:00  hd  2023   9  10  14   7

                   rainfall rainq  rain_duration  ...         v2        r1  \
stnNum date                                       ...
300000 2002-08-28       0.0     Y            1.0  ...  20.157851  1.183194
       2002-08-29       0.0     Y            1.0  ...  24.258678  1.471959
       2002-08-30       0.0     Y            1.0  ...  18.935537  1.301366
       2002-08-31       0.0     Y            1.0  ...  20.690909  1.682377
       2002-09-01       0.0     Y            1.0  ...  19.671901  1.303782
...                     ...   ...            ...  ...        ...       ...
140010 2023-09-06       0.0     Y            1.0  ...  16.455372  1.457616
       2023-09-07       0.0     Y            1.0  ...  15.245455  1.569197
       2023-09-08       0.0     Y            1.0  ...   23.92314  2.306537
       2023-09-09       0.0     Y            1.0  ...  23.560331  1.960841
       2023-09-10       0.0     Y            1.0  ...  22.604132  1.458515

                         r2    category  wbtemp wbtempq  rhq windsd  windsdq  \
stnNum date
300000 2002-08-28  1.195564    synoptic     NaN     NaN  NaN    NaN      NaN
       2002-08-29   1.21606    synoptic     NaN     NaN  NaN    NaN      NaN
       2002-08-30  1.272739    synoptic     NaN     NaN  NaN    NaN      NaN
       2002-08-31  1.425747    synoptic     NaN     NaN  NaN    NaN      NaN
       2002-09-01  1.316599    synoptic     NaN     NaN  NaN    NaN      NaN
...                     ...         ...     ...     ...  ...    ...      ...
140010 2023-09-06  1.488875    synoptic     NaN     NaN  NaN    NaN      NaN
       2023-09-07  1.797257    synoptic     NaN     NaN  NaN    NaN      NaN
       2023-09-08  1.655301  convective     NaN     NaN  NaN    NaN      NaN
       2023-09-09  1.498281    synoptic     NaN     NaN  NaN    NaN      NaN
       2023-09-10  1.592629    synoptic     NaN     NaN  NaN    NaN      NaN

                                             idx
stnNum date
300000 2002-08-28  (300000, 2002-08-28 00:00:00)
       2002-08-29  (300000, 2002-08-29 00:00:00)
       2002-08-30  (300000, 2002-08-30 00:00:00)
       2002-08-31  (300000, 2002-08-31 00:00:00)
       2002-09-01  (300000, 2002-09-01 00:00:00)
...                                          ...
140010 2023-09-06  (140010, 2023-09-06 00:00:00)
       2023-09-07  (140010, 2023-09-07 00:00:00)
       2023-09-08  (140010, 2023-09-08 00:00:00)
       2023-09-09  (140010, 2023-09-09 00:00:00)
       2023-09-10  (140010, 2023-09-10 00:00:00)

[2957939 rows x 44 columns]

In [15]:
compdf = pd.merge(classifieddf.set_index(['stnNum', 'date']), allgrdf, left_index=True, right_index=True, suffixes=('_s', '_g'))

In [18]:
colorder = ['Synoptic storm', 'Synoptic front', 'Storm-burst',
            'Thunderstorm', 'Front up', 'Front down',
            'Spike', 'Unclassified']
pd.crosstab(compdf['stormType'], compdf['category']).reindex(colorder).style.background_gradient(cmap='viridis_r')